# SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=luktheer@gmail.com
SMTP_PASS=bjxs owsh vpfu saxm

# E-mail de origem e destino
MAIL_FROM=luktheer@gmail.com
MAIL_FROM_NAME=Linithy Team
MAIL_TO=luktheer@gmail.com